@import "../bower_components/bootstrap/less/bootstrap.less";

@color-base: #2d4e8b;

.class1 {
  background-color: @color-base;
}
.class2 {
  background-color: #fff;
  color: @color-base;
}
.class3 {
  border: 1px solid @color-base;
}