.fixed-sidebar {
  padding-right: 15px;
  padding-top: 30px;
  background-color: @mec-main-color;
  z-index: 8;
  &.affix {
    width: inherit;
    &.errorMargin{
      margin-top:@navbar-height;
    }
  }
  .sidebar-info {
    color: @mec-main-darkest-color;
    background-color: @mec-main-color;
    //override default panel styling
    .panel-default {
      border: none;
      background-color: transparent;
      .panel-heading {
        background-color: transparent;
        border: none;
        padding: 0 0;
        margin-bottom: 10px;
        font-weight: bold;
        a {
          &:hover {
            cursor: pointer;
            color: @mec-main-darker-color;
          }
        }
      }
    }
  }
  .search-container {
    margin-bottom: 20px;
    .selected {
      color: @mec-main-darkest-color;
      background-color: @mec-main-color;
    }
  }
}