@navbar-height: 50px;

.navbar {
  color: @mec-main-color;
  background: @mec-main-darkest-color;
  border: none;
  .navbar-toggle {
    color: @mec-main-darkest-color;
    background: @mec-main-color;
  }
  a {
    color: @mec-main-color;
    &:hover {
      color: @mec-main-darkest-color;
      background: @mec-main-color;
      h1 {
        color: @mec-main-color;
      }
    }
    h1 {
      line-height: @navbar-height;
      margin: 0 0;
      font-size: 30px;
      font-family: 'Permanent Marker', sans-serif;
    }
    /*
    prevents awkward title on small screens
    */
    @media screen and (max-width: 325px) {
      h1 {
        font-size:20px;
      }
    }
  }

  .navbar-collapse {
    background-color: @mec-main-darkest-color;
  }
  .dropdown {
    &.open {
      .dropdown-toggle {
        color:@mec-main-darkest-color;
      }
    }
    .dropdown-menu {
      text-align: center;
      color: @mec-main-darkest-color;
      background: @mec-main-color;
      border: none;
      .buttons {
        text-align: center;
        span {
          margin: 0 16px;
        }
      }
    }
  }
}