<!doctype html>
<html class="no-js" data-ng-app="myEasyClass">
    <head>
        <meta charset="utf-8">
        <title>MyEasyClass</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker:400|Graduate|Schoolbell|Merriweather+Sans:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    <body data-ng-controller="mainCtrl">
    <!--navbar-->
    <div main-navbar></div>
    <!--Alert box-->
    <div data-ng-show="error" class="alert alert-warning alert-dismissible alert-animation" role="alert">
        <button type="button" class="close" data-ng-click="error = undefined"><span aria-hidden="true">&times;</span></button>
        <strong>{{error}}</strong>
    </div>
    <div data-ng-class="{errorMargin : error}" class="container-fluid app-container">
        <div class="row">
            <!--Sidebar-->
           <div class="col-sm-4">
               <div search-container></div>
               <div sidebar-info></div>
           </div>
            <!--Main container-->
            <div class="col-sm-8">
                <div data-ng-repeat="oneClass in classes.classesArray">
                    <div class-row info="oneClass"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Google Analytics -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-39562701-1');ga('send','pageview');
    </script>
    <!--bower components-->
    <script src="packages.js"></script>
    <script src="app.js"></script>
    </body>
</html>
