<!doctype html>
<html class="no-js" data-ng-app="myEasyClass">
    <head>
        <meta charset="utf-8">
        <title>MyEasyClass- Your Own Personal UConn Course Adviser</title>
        <meta name="author" content="Travis Bloom">
        <meta name="description" content="MyEasyClass.com was made to answer the #1 questions UConn students face semester after semester when it's time to sign up for courses: What are some easy classes to fill my schedule?">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker:400|Graduate|Schoolbell|Merriweather+Sans:300,400,700' rel='stylesheet' type='text/css'>
        <!--Icon links and meta data needed for favicons and iOS/Android/Windows bookmarks-->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png">
        <meta name="apple-mobile-web-app-title" content="MyEasyClass.com">
        <link rel="icon" type="image/png" href="/assets/icons/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/assets/icons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#2c3e50">
        <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png">
        <meta name="application-name" content="MyEasyClass.com">
    </head>
    <body data-ng-controller="mainCtrl">
    <!--navbar-->
    <navbar></navbar>
    <!--Alert box-->
    <div data-ng-show="error" class="alert alert-warning alert-dismissible alert-animation">
        <button type="button" class="close" data-ng-click="error = null"><span>&times;</span></button>
        <strong>{{error}}</strong>
    </div>
    <!--Info box-->
    <div data-ng-show="success && !error" class="alert alert-success alert-dismissible alert-animation">
        <button type="button" class="close" data-ng-click="success = null"><span>&times;</span></button>
        <strong>{{success}}</strong>
    </div>
    <div data-ng-class="{errorMargin : error || success}" class="container-fluid app-container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <h2>Top Rated Classes at UConn</h2>
            </div>
        </div>
        <div class="row">
            <!--Sidebar-->
           <div class="col-sm-6 col-md-offset-3 col-md-3">
               <div class="fixed-sidebar" data-offset-top="-50" data-ng-class="{errorMargin : error || success}" bs-affix>
                   <sidebar-search></sidebar-search>
                   <accordion class="sidebar-info">
                       <accordion-group heading="What is this website?">
                           MyEasyClass.com was made to answer the #1 questions students face
                           semester after semester when it's time to sign up for courses: <strong>"What are some easy classes to fill my schedule?"</strong>
                       </accordion-group>
                       <accordion-group heading="Why would I use this instead of RateMyProfessors.com?" class="extra-info">
                           Competitors like RateMyProfessors.com are great resources if you want to look up a specific class,
                           but there's currently no solution out there that lets students easily browse through recommended classes at their university.
                       </accordion-group>
                       <accordion-group heading="Whats with the arrows?" class="extra-info">
                           MyEasyClass.com lets you rate a class by clicking one button.
                           Feel free to create an account (it takes two seconds) and upvote any courses you have taken that you would recommend to fellow students.
                           If a class you enjoyed isn't currently listed, you can easily add it by clicking the "Add A New Class" button at the top of the screen.
                       </accordion-group>
                       <accordion-group heading="Bro, this class is categorized wrong" class="extra-info">
                           If a class is listed in a content area it shouldn't be, or if it isn't in one it belongs to, feel free to let us know
                           <a href="https://docs.google.com/forms/d/1fj8Z_4xvIbV2EY0lcpzZuxJj_1HevAGlEiVtr8B2Ci0/viewform">here.</a>
                       </accordion-group>
                   </accordion>
               </div>
           </div>
            <!--Main container-->
            <div class="col-sm-6 col-md-3">
                <class-row data-ng-repeat="oneClass in classes" info="oneClass" alertFn="updateAlert()"></class-row>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    Made by <a href="http://travisbloom.me/">Travis Bloom</a>, a UConn Class of 2013 Grad who was tired
                    of of his newsfeed being spammed by people asking for an easy class. Feel free to
                    <a href="https://docs.google.com/forms/d/1Tn2bVWuu7n1dJ-hLhimKqfjiETUSgKJxmf1EzwctDq8/viewform">contact</a> me.
                </div>
            </div>
        </div>
    </div>
    <!-- Google Analytics -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-39562701-1');ga('send','pageview');
    </script>
    <!--bower components-->
    <script src="packages.js"></script>
    <script src="app.js"></script>
    </body>
</html>
