<div class="row class-row">
    <div class="col-xs-2 vote-container text-center">
        <div>
            <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
        <div class="easiness-count">
            {{info.Easiness}}
        </div>
        <div>
            <span class="glyphicon glyphicon-arrow-down"></span>
        </div>
    </div>
    <div class="col-xs-10 class-id">
        <span class="department">{{info.DepartmentID}}</span>
        <span class="number">{{info.CourseNumber}}</span>
        <span class="professor">{{info.ProfessorName}}</span>
    </div>
</div>
