<div class="mec-modal">
    <div class="header">
        <h3 class="modal-title">Sign In or Sign Up</h3>
        <button type="button" class="close" data-ng-click="dismiss()"><span>&times;</span></button>
    </div>
    <!--modal error-->
    <div data-ng-show="error" class="alert alert-warning alert-dismissible alert-animation">
        <button type="button" class="close" data-ng-click="error = null"><span>&times;</span></button>
        <strong>{{error}}</strong>
    </div>

    <div class="modal-body" data-ng-class="{errorMargin : error}">
        <div class="form-horizontal row">
            <!--username-->
            <label class="col-sm-4 control-label">Username:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="no email required..." data-ng-model="signIn.username">
            </div>
            <!--password-->
            <label class="col-sm-4 control-label">Password:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="please don't make it 123456" data-ng-model="signIn.pass">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <button class="btn btn-primary" data-ng-disabled="!signIn.username || !signIn.pass" data-ng-click="signUserIn()">Sign In</button>
            <span>Or</span>
            <button class="btn btn-primary" data-ng-disabled="!signIn.username || !signIn.pass" data-ng-click="signUserUp()">Create an account</button>
        </div>
    </div>
</div>
