<div class="search-container">
    <button class="btn btn-primary" data-ng-click="collapsed.search = !collapsed.search">Narrow Your Search</button>
    <div class="checkbox" collapse="collapsed.search">
        <div>
            <label><input type="checkbox" data-ng-model="searchCriteria.contentArea.one"> Arts and Humanities (1)</label>
        </div>
        <div>
            <label><input type="checkbox" data-ng-model="searchCriteria.contentArea.two"> Social Sciences (2)</label>
        </div>
        <div>
            <label><input type="checkbox" data-ng-model="searchCriteria.contentArea.three"> Science and Technology (3)</label>
        </div>
        <div>
            <label><input type="checkbox" data-ng-model="searchCriteria.contentArea.four"> Diversity and Multiculturalism (4)</label>
        </div>
    </div>
</div>